<div id="<%= dom_id translation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Question:</strong>
    <%= translation.question %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Answer:</strong>
    <%= translation.answer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Search count:</strong>
    <%= translation.search_count %>
  </p>

</div>
